<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment>
      <ion-segment-button routerLink="/home">
        Accueil
      </ion-segment-button>
      <ion-segment-button routerLink="/group">
        Groupe
      </ion-segment-button>
      <ion-segment-button routerLink="/liste">
        Listes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img src="./assets/multiple-users-silhouette.png" alt="#" class="img2"></ion-img>
    <h4>Liste des apprenants</h4>
</div>
  <ion-searchbar placeholder="Recherche"></ion-searchbar>


    <div class="col1" >
    <ion-row>
      <ion-button color="warning">
        <img class="img3" src="assets/add.png" alt="#" routerLink="/ajouter" style="margin-right: 150%;">
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-button color="warning">
         <img class="img3" src="assets/export.png" alt="#" (click)="presentePopover($event)" style="margin-right: 150%;" >
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-button color="warning">
        <img class="img3" src="assets/import.png" alt="#" (click)="exportToExcel()" style="margin-right: 150%;">
      </ion-button>
    </ion-row>
    </div>
      <ion-item class="strongView">
        <ion-label>Nom complet</ion-label>
        <ion-label style="margin-right: -40%;">Action</ion-label>
      </ion-item>
        <ion-list class="lab" *ngFor="let apprenant of listeApprenants">
          <ion-item>
            <ion-label>{{apprenant.nomComplet}}</ion-label>
            <ion-label class="un" >
              <ion-icon style="cursor: pointer" name="information-circle-outline" routerLink="/info"></ion-icon>
              <ion-icon style="cursor: pointer" name="trash-outline" (click)="deleteApprenant(apprenant.id)"></ion-icon>
              <ion-icon style="cursor: pointer" name="create-outline" (click)="updateApprenant(apprenant.id)"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-list>
</ion-content>
