
  ion-img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    text-align: center;
  }
  h4{
    text-align: center;
  }


  .un ion-icon{
    float:right;
    margin: 2px;
    width: 20px;
    height: 20px;

  }

  .strongView
  {
    font-weight: bold;
  }


  .col1 {
    display: flex;
    margin-left: auto;
    margin-right: 15%;

    max-width: 70%;
  height: auto;

  }

  .title2{
    margin-top: 2%;
    margin-left: 42%;
  }

  .img3{
    width: 30px;
    height: 30px;
    margin-left: 153%;
    margin-right: auto;
  }
