<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="container col-md-3">
  <h5>Nom du random</h5>
    </div>
  <div class="box">
    <div>
      <h6>Groupe 1</h6>
      <p>
         Mady<br>
        hady<br>
        tiemoko<br>
        hii
      </p>
    </div>
    <div>
      <h6>Groupe 2</h6>
      <p>
         Mady<br>
        hady<br>
        tiemoko<br>
        hii
      </p>
    </div>
    <div>
      <h6>Groupe 3</h6>
      <p>
         Mady<br>
        hady<br>
        tiemoko<br>
        hii
      </p>
    </div>
    <div>
      <h6>Groupe 4</h6>
      <p>
         Mady<br>
        hady<br>
        tiemoko<br>
        hii
      </p>
    </div>
  </div>
  </ion-card>
  <ion-label class="un">
    <ion-img src="assets/export.png" title="Exporter"  routerLink='/groupe' ></ion-img>
  </ion-label>
</ion-content>
