<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Ajouter un apprenant</h1>
  <form [formGroup]="apprenant" (ngSubmit)="saveApprenant()">
    <ion-item>
      <ion-label>Nom complet:</ion-label>
      <ion-input type="text" formControlName="nomComplet"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Téléphone:</ion-label>
      <ion-input type="phone" formControlName="phone"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="!apprenant.valid" expand="block" shape="round" strong="true">Connexion</ion-button>
  </form>
</ion-content>
