<ion-header>
  <ion-toolbar>
    <ion-title>group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">
    Randon name
  </h1>


  <div class="allign">
    <div class="one">
      <h1>Groupe 1</h1>
    </div>
    <div class="two">
      <h1>Groupe 2</h1>
    </div>
  </div>

  <div class="allign">
    <div class="one">
      <h1>Groupe 3</h1>
    </div>
    <div class="two">
      <h1>Groupe 4</h1>
    </div>
  </div>


  <div>
    <img style="margin-top : 7px;width: 30px; height: 30px; margin-right: auto; margin-left: auto; display: block;" src="./assets/export.png" alt="">
</div>
</ion-content>
